h2{
    color: blue;
}

.stock-alerta {
    animation: parpadeo 1.2s infinite;
}

@keyframes parpadeo {
    0% {
        background-color: #ffe5e5;
    }
    50% {
        background-color: #ffb3b3;
    }
    100% {
        background-color: #ffe5e5;
    }
}

#comp{
    margin: 5% auto;
}